body{
    background-color: #fff;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    margin-top:30px ;
    width: 40%;
}
h1 span {
    color: red;
}

h3{
    margin-top: 30px;
    color:rgb(0,0,0,0.5)
}
@media (max-width:770px){
    .container{
        margin: 0 10%;
    }
    img{
        width: 100%;
    }
}

